@charset "utf-8";

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Mr+Dafoe&display=swap');


@import url("top.css");/*상단영역*/
@import url("contents.css");/*body영역*/
@import url("bottom.css");/*하단영역*/



/*reset*/
a{
 color:#3a3a3a;
}
input{
 outline:none;
}
body,h1,input,button{
 font:400 12px/1.5em "Cabin","Noto Sans KR",sans-serif,'Mr Dafoe', cursive;
 color:#3a3a3a;
}

